# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [4]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [5]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [9]:
print('計算每個不同種類 animal 的 age 的平均數')
print(df.groupby('animal')['age'].mean())
print('-------------------------------------')
print('將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序')
print(df.sort_values(by=['age', 'visits'], ascending=[True, False]))
print('-------------------------------------')
print('將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False')
print(df.replace('yes', True).replace('no', False))
print('-------------------------------------')

計算每個不同種類 animal 的 age 的平均數
animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64
-------------------------------------
將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
-------------------------------------
將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
  animal  age  visits  priority
a    cat  2.5       1      True
b    cat  3.0       3      True
c  snake  0.5       2     False
d    dog  NaN       3      True
e    dog  5.0       2     False
f    cat  2.0       3     False
g  snake  4.5       1     False
h    cat  NaN       1      True
i    dog  7.0       2     False
j    dog  3.0       1     False
-------------------------------------

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [11]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.501283  0.834835  0.877015
1  0.432919  0.876064  0.450534
2  0.657567  0.246032  0.053879
3  0.210051  0.350157  0.671054
4  0.359518  0.234048  0.123518

In [12]:
print('該欄位的平均數')
print('-------------------------------------')
print(df - df.mean())
print('該筆資料平均數')
print('-------------------------------------')
print(df.sub(df.mean(axis=1), axis=0))

該欄位的平均數
-------------------------------------
          0         1         2
0  0.069015  0.326607  0.441815
1  0.000651  0.367837  0.015334
2  0.225299 -0.262195 -0.381321
3 -0.222217 -0.158070  0.235854
4 -0.072750 -0.274179 -0.311682
該筆資料平均數
-------------------------------------
          0         1         2
0 -0.236428  0.097124  0.139304
1 -0.153587  0.289558 -0.135972
2  0.338408 -0.073127 -0.265280
3 -0.200370 -0.060263  0.260633
4  0.120490 -0.004980 -0.115510

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [33]:
df

          0         1         2
0  0.763566  0.846747  0.885887
1  0.782180  0.006052  0.844430
2  0.547830  0.603736  0.106965
3  0.763000  0.586530  0.882552
4  0.311204  0.609405  0.915406

In [13]:
print(df.sum(axis=1).argmin())
print(df.sum(axis=1).min())

4
0.7170841906132901

In [14]:
print(df.sum(axis=0).argmin())
print(df.sum(axis=0).min())

0
2.1613384573215626